/* font for full body */

body {
  background-image: linear-gradient(to right, #0096e622,#f5f6fa);
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font for nav bar */
*{
   margin: 0px;
   padding: 0px;
  box-sizing: border-box;
} 
.header {
  background-image: url("../Assets/Hero-bg.png");
}
.logo {
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: black;
  color: #4E47FF;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1008px;
  margin-left: 150px;
  margin-right: 150px;
}
.btn-primary {
  margin-top: 30px;
  width: 150px;
  height: 48px;
  background-color: #4E47FF;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  gap: 16px;
  /* margin-top: 20px; */
}
button:hover {
  background-color: #182C61;
  cursor: pointer;
}

.banner {
text-align: center;
padding-top: 309px;
padding-right: 267.5px;
padding-left: 267.5px;
padding-bottom: 152px;
}
.banner-title{
  font-size: 65px;
  font-weight: bold;
}

/* action area */

.action {
  margin-top: 120px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: #4784ff10;
  border-radius: 10px;
}
.action-main {
  display: flex;
  justify-content: space-between;
  /* padding-top: 116px;
  padding-left: 141px;
  padding-right: 141px;
  padding-bottom: 116px; */
  padding: 40px;
}
.action-title {
font-size: 42px;
font-weight: bold;
color: #252432;
}
.action-description {
  margin-top: 30px;
  font-size: 24px;
  color: #252432;
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  object-fit: cover;
}

/* productive-user section */
.productive-users-section {
  
}
.productive-user-title {
  font-size: 38px;
  font-weight: bold;
}
.productive-user {
  background-image: linear-gradient(to right,#786fa64d,#760b9a3f);
  text-align: center;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 80px;
padding-right: 80px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 15px;
}
.users-list {
  display: flex;
justify-content: center;
gap: 158px;

}
.users-numbers {
margin-top: 30px;
font-size: 80px;
font-weight: bold;
color: #4E47FF;
font-family: "Inter", sans-serif;
}

.users-description {
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* touch-area */

.touch-all {
 
}

.touch {
display: flex;
/* margin-top: 30px; */
padding-top: 92px;
padding-bottom: 14px;
padding-left: 150px;
/* padding-right: 150px; */



}
.touch-title {
margin-top: 30px;
font-size: 97px;
font-weight: bold;
}
.touch-form {
margin-left: 500px;
margin-right: 150px;
}
.email {
  display: block;
}
.email-ip {
  display: block;
  width: 497px;
  height: 70px;
}
.name-ip {
  display: block;
  width: 497px;
  height: 70px;
}
.message-ip {
  display: block;
  width: 497px;
  height: 135px;
  resize: none;
}
.ip {
color: #FFFFFF;
border-radius: 10px;
border: 1px solid #FFFFFF;
}
input::placeholder {
  color: gray;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 380px;
}
textarea::placeholder {
  color: #999;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 85px;
  padding-left: 32px;
  padding-right: 257px;
}

.get {
  width: 497px;
}
.name-label {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}
.email {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

/* footer style */
footer {
text-align: center;
margin-top: 30px;
}
.footer-content {
  padding-top: 104px;
  padding-right: 455px;
  padding-bottom: 103px;
  padding-left: 455px;
}
.footer-title {
  font-size: 100px;
  font-weight: black;
  color: #4E47FF;
  font-family: "Inter", sans-serif;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footer-nav ul li {
  list-style: none;
}
.footer-nav ul li a {
  text-decoration: none;
  color: #8987A1;
}
.footer-description {
  color: #8987A1;
  margin-top: 30px;
}

/* feedback section style */

.feedback-title {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}
.feedback-users {
  display: flex;
  justify-content: center; 
  /* margin:0 auto; */
  margin-top: 30px;
  gap: 50px;
  border-radius: 20px;
  
  
}

.users-name {
  margin-top: 30px;

}
.feedback-description {
margin-top: 10px;
}
.reviewer-details {
  margin-top: 10px;
 display: flex; 
 gap: 10px;
}
.reviewer-details img {
  border-radius: 50%;
}
.date {
color: #757575;
}
.feedback-1 {
  background-color: #d7a2e878;
  padding: 24px;
  border-radius: 10px;
}
.feedback-2 {
  background-color: #d7a2e878;
  padding: 24px;
  border-radius: 10px;
}
.feedback-3 {
  background-color: #d7a2e878;
  padding: 24px;
  border-radius: 10px;
}