/* font for full body */

body {
  
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font for nav bar */
*{
   margin: 0px;
   padding: 0px;
  box-sizing: border-box;
} 
.header {
  background-image: url("../Assets/Hero-bg.png");
}
.logo {
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: black;
  color: #4E47FF;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1008px;
  margin-left: 150px;
  margin-right: 150px;
}
.btn-primary {
  margin-top: 30px;
  width: 150px;
  height: 48px;
  background-color: #4E47FF;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  gap: 16px;
  /* margin-top: 20px; */
}
.banner {
text-align: center;
padding-top: 309px;
padding-right: 267.5px;
padding-left: 267.5px;
padding-bottom: 152px;
}
.banner-title{
  font-size: 65px;
  font-weight: bold;
}

/* action area */


.action-main {
  display: flex;
  justify-content: space-around;
  padding-top: 116px;
  padding-left: 141px;
  padding-right: 141px;
  padding-bottom: 116px;
}
.action-title {
font-size: 42px;
font-weight: bold;
color: #252432;
}
.action-description {
  margin-top: 30px;
  font-size: 24px;
  color: #252432;
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  object-fit: cover;
}

/* productive-user section */
.productive-users-section {
  
}
.productive-user-title {
  font-size: 38px;
  font-weight: bold;
}
.productive-user {
  background-image: linear-gradient(to right,#786fa6,#D6A2E8);
  text-align: center;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 80px;
padding-right: 80px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 15px;
}
.users-list {
  display: flex;
justify-content: center;
gap: 158px;

}
.users-numbers {
margin-top: 30px;
font-size: 80px;
font-weight: bold;
color: #4E47FF;
font-family: "Inter", sans-serif;
}

.users-description {
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* touch-area */

.touch-all {
  background-image: linear-gradient(to right, #0096e608,#f5f6fa);
}

.touch {
display: flex;
/* margin-top: 30px; */
padding-top: 92px;
padding-bottom: 14px;
padding-left: 150px;
/* padding-right: 150px; */



}
.touch-title {
margin-top: 30px;
font-size: 97px;
font-weight: bold;
}
.touch-form {
margin-left: 500px;
margin-right: 150px;
}
.email {
  display: block;
}
.email-ip {
  display: block;
  width: 497px;
  height: 70px;
}
.name-ip {
  display: block;
  width: 497px;
  height: 70px;
}
.message-ip {
  display: block;
  width: 497px;
  height: 135px;
  resize: none;
}
.ip {
color: #FFFFFF;
border-radius: 10px;
border: 1px solid #FFFFFF;
}
input::placeholder {
  color: gray;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 380px;
}
textarea::placeholder {
  color: #999;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 85px;
  padding-left: 32px;
  padding-right: 257px;
}

.get {
  width: 497px;
}